/** Navbar start **/

.navbar-brand img {
  height: 50px;
  width: 50px;
}
.navbar-brand span {
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar {
  background-color: #e4e4e4;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.75);
}

.navbar-header .navbar-brand {
  letter-spacing: 0.1rem;
  color: rgb(2, 117, 216) !important;
}

.navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  cursor: pointer;
  border-right: solid rgb(2, 117, 216) 2px;
  line-height: 8px;
  font-weight: 600;
  color: #464646 !important;
}
.navbar-nav .nav-item .nav-link:hover,
.dropdown-item:hover {
  color: rgb(2, 117, 216) !important;
}

.navbar-nav button {
  border-radius: 5px;
  text-transform: uppercase;
}
.navbar-nav button:hover {
  background-color: transparent;
  border-color: rgb(2, 117, 216);
  color: rgb(2, 117, 216);
}

/** Navbar end **/

/** Hero header start **/
#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url(img/gwagon.jpg);
  background-size: 100% auto;
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#header-inner {
  padding-top: 75%;
  margin-left: 1rem;
}

#hero-header {
  letter-spacing: 0.3rem;
  text-shadow: 2px 2px 4px #000000;
  font-size: 27px;
}
#hero-p {
  line-height: 2.2;
}
.hero-btn-a:hover {
  text-decoration: none;
}
#hero-button {
  display: block;
  margin-bottom: 0.75rem;
  border-style: solid;
  text-transform: uppercase;
}
#hero-button:hover {
  background-color: #fff;
  color: rgb(2, 117, 216);
  text-decoration: none !important;

  border-style: solid;
  text-transform: uppercase;
}
#hero-phone-btn {
  border-style: solid;
  padding: 8px 30px;
  text-transform: uppercase;
}
#hero-phone-btn:hover {
  border-color: #fff;
}
/**======== Hero header end ========**/

/**======= Card overlay start =======**/
#card-row {
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
/*Margin 0-auto off looks better on larger screens ^ */

#card-overlay {
  margin: 0 auto;
}

.overlay-cards {
  color: #fff;
  font-weight: 400;
  border-radius: 0% !important;
  border: none !important;
}

.overlay-headers img {
  height: 80px;
}
.overlay-cards p {
  color: #7e7e7e;
  line-height: 1.5;

  /* 5a5a5a */
}
#bootstrap-overides .top-cards {
  font-weight: 300;
  color: #5b5b5b;
}

.overlay-bodies {
  padding: 1rem 0rem !important;
}
.overlay-bodies h4 {
  border-left: 3px solid #000;
  padding-left: 0.5rem;
  color: rgb(2, 117, 216) !important;
}
.fa-calendar-check {
  font-size: 100px;
  color: #000;
}

/**======== Card overlay End =========**/

/**======== Paralax Scrolling IMG Start =======**/

.p-img {
  background-image: url(img/scion-spray.jpg);
  min-height: 30rem;
  max-height: 40rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  background-attachment: fixed;
  position: relative;
}
.p-text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4rem;
  z-index: 2;
  text-transform: uppercase;
  color: rgb(2, 117, 216);
}

.p-text .border {
  background-color: rgba(180, 180, 180, 0.6);
  color: #000;
  padding: 1rem;
}

/**======= Paralax Scrolling IMG End =========**/

/**======= Detailing services start =======**/

#service-inner {
  justify-content: center;
  display: flex;
}
#detail-services {
  letter-spacing: 0.2rem;
  color: #464646;
}
#service-hr {
  margin: 0 auto;
  height: 2px;
  border: none;
  background-color: rgb(2, 117, 216);
}
.service-img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

#bootstrap-overides .card-header {
  background-color: #ffffff;
  color: #464646;
  border-bottom: none !important;
  align-items: center;
  justify-content: center;
}
#bootstrap-overides .card-header h3 {
  color: rgb(2, 117, 216);
  font-weight: 300;
  letter-spacing: 0.2rem;
}
#bootstrap-overides .card-header p {
  font-size: 14px;
  padding: 0.1rem;
}
.services-costs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.top-pr {
  display: flex;
}

.services-costs span {
  color: rgb(2, 117, 216);
}
.service-span {
  color: rgb(2, 117, 216);
}
.service-hours {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-effect {
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.1) !important;
  padding: 25px;
  transition: all 0.35s ease;
  backdrop-filter: blur(30px) !important;
}
.card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}
#bootstrap-overides .center-cards {
  justify-content: center;
  margin: 0 auto;
}
.card-body {
  color: #5b5b5b;
}
.card-body ul {
  list-style-type: none;
  font-size: 14px;
}
.card-body p {
  font-weight: 500;
  color: #444444;
}
.detail-row {
  margin-bottom: 2rem;
}
#standard-btn {
  margin-top: 2.5rem;
}

/**======== Detailing services end ======**/
/**======== Additional Services start ====**/
.additional {
  color: rgb(2, 117, 216);
  letter-spacing: 0.2rem;
  font-weight: 300;
}
.additional-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}

.add {
  width: 33%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 2rem;
}
.add h3 {
  font-weight: 300;
  color: #5b5b5b;
  display: block;
}

.add img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  filter: brightness(85%);
}
/**======== Additional Services End ====**/

p {
  max-width: 35rem;
}

/**======= Footer Start =====**/

/*********  Contact Form Start  ********/

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  height: 50%;
}
.form-inner {
  margin-top: 5rem;
  width: 60%;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}
.form-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.form-header h4,
.form-header p {
  color: rgb(2, 117, 216);
  width: 100%;
  text-align: center;
  display: block;
  padding-bottom: 2rem;
  font-size: 3rem;
  letter-spacing: 0.3rem;
}
form input {
  border: none;
  border-radius: 5px;
  background-color: #545454;
  color: #fff;
}
form input::placeholder {
  color: rgb(213, 213, 213);
}
.name-div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
#Fname-box {
  width: 48%;
  padding: 0.5rem;
}
#Lname-box {
  width: 48%;
  padding: 0.5rem;
}
.contact-info-div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
#Mail-box {
  width: 48%;
  padding: 0.5rem;
}
#Phone-box {
  width: 48%;
  padding: 0.5rem;
}
.messages-div {
  display: flex;
  flex-direction: column;
}
.msgBox {
  border-radius: 5px;
  border-style: none;
  padding-bottom: 1rem;
  background-color: #545454;
  resize: none;
}
.carDetailBox {
  border-radius: 5px;
  border-style: none;
  margin-bottom: 1rem;
  background-color: #545454;
  padding: 0.5rem;
  resize: none;
}
.msgBox::placeholder {
  color: rgb(213, 213, 213);
  padding-left: 0.25em;
}
.carDetailBox::placeholder {
  color: rgb(213, 213, 213);
  padding-left: 0.25em;
}

.button-div {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.form-button {
  padding: 10px 30px;
  border-radius: 6px;
  border-style: none;
  font-size: 1.5rem;
  font-weight: 300;
  background-color: rgb(2, 117, 216);
  color: #fff;
}
.form-button:hover {
  background-color: #fff;
  color: rgb(2, 117, 216);
}
.caption {
  font-size: 12px;
}
textarea {
  resize: none;
}
/*********  Contact Form End  ********/

/********** Links start  *******/
.footer {
  background-color: #212329;
  padding-bottom: 3rem;
  min-height: 20vh;
}

.footer-heading {
  color: rgb(2, 117, 216);
  letter-spacing: 0.1rem;
}
#links,
#help {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  line-height: 2rem;
  padding-left: 2rem !important;
}
#links a,
#help a {
  text-decoration: none;
  color: #fff;
}
#links a:hover,
#help a:hover {
  color: rgb(2, 117, 216);
}
/****** Links End ********/

/**======= Footer End =====**/

/**========= Media Queries =======**/

@media only screen and (max-width: 992px) {
  .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    line-height: 1.4;
  }
}
@media only screen and (min-width: 993px) {
  #card-row {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 1030px) {
  .additional-inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .add {
    width: 90%;

    margin-top: 2rem;
  }
  .add img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    filter: brightness(85%);
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1195px) {
  .add h3 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 768px) {
  #header-inner {
    padding-top: 35%;
    margin-left: 3rem;
  }
  #hero-header {
    font-size: 35px;
  }
}
@media only screen and (min-width: 992px) {
  #header-inner {
    padding-top: 35%;
    margin-left: 3rem;
  }
  #hero-header {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  #header-inner {
    padding-top: 15%;
    margin-left: 3rem;
  }
  #hero-header {
    font-size: 4rem;
  }
}
